html, body {
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
  /* background-image: url('../assets/Album.png');
 
  /* background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center; 
  background-size: 80%; */ 
}

canvas {
  display: block;
}

a{
  font-family: 'Times New Roman', Times, serif;
  font-size:20px;
}

a:visited {
  color: rgba(181, 149, 22, 0.794);
}

a:hover {
  color: rgba(136, 187, 100, 0.839);
}

.Album{
  position:relative;
  width:100%;
}
.container {
  position: absolute;
  left:10%;
  top:10%;
  width: 15%;
}

.container2 {
  position: absolute;
  left:30%;
  top:10%;
  width:18%;
}

.container3 {
  display: flex;
  position: absolute;
  left:55%;
  top:10%;
  width: 18%;
}

.container4 {
  display: flex;
  position: absolute;
  left:75%;
  top:10%;
  width: 18%;
}

.container5 {
  position: absolute;
  left:10%;
  top: 65%;
  width: 18%;
}

.container6 {
  position: absolute;
  left:30%;
  top:65%;
  width: 18%;
}

.container7 {
  position: absolute;
  left:55%;
  top:45%;
  width: 18%;
}

.container8 {
  position: absolute;
  left:75%;
  top:50%;
  width: 18%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay {
  opacity: 1;
}

.container3:hover .overlay {
  opacity: 1;
}
.container4:hover .overlay {
  opacity: 1;
}
.container5:hover .overlay {
  opacity: 1;
}
.container6:hover .overlay {
  opacity: 1;
}
.container7:hover .overlay {
  opacity: 1;
}
.container8:hover .overlay {
  opacity: 1;
}



.text {
  color: white;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}